@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<h2>Your Restaurant was not found</h2>
<a asp-page="./List" class="btn btn-primary">See All Restaurants</a>